# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.DiscordBot_learning.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\DiscordBot_learning\DiscordBot_learning\.idea\.idea.DiscordBot_learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
